.display-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #e9ecef;
}

.date-display {
  width: 100%;
  color: gray;
  background-color: #e9ecef;
  padding-left: 20px;
  margin-bottom: 0;
}

.project-display {
  margin-bottom: 20px;
}

.btn-functions .btn {
  background-color: #e9ecef;
  color: black;
}

.project-content-box {
  width: 100%;
}

.list-group-item-action a {
  align-self: center;
  margin-left: 15px;

}

.toggle-button{
  background: none;
  border: none;
  float:right;
  svg{
    margin-bottom: 10px;
  }
}
.time-display{
  float: right;
}